@using evernote_blog.Common
@{
    //Layout = null;

}


<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-7">
                <div class="blog_text_slider owl-carousel">
                    <div class="item">
                        <div class="blog_text">
                            <div class="cat">
                                <a class="cat_btn" href="#">Gadgets</a>
                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                            </div>
                            <a href="#"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <a class="blog_btn" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog_text">
                            <div class="cat">
                                <a class="cat_btn" href="#">Gadgets</a>
                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                            </div>
                            <a href="#"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <a class="blog_btn" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog_text">
                            <div class="cat">
                                <a class="cat_btn" href="#">Gadgets</a>
                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                            </div>
                            <a href="#"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <a class="blog_btn" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Blog Area =================-->
<section class="blog_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Posts" id="searchText">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="SearchNoteBySearchText();"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img img-fluid" src="~/img/blog/author.jpg" alt="" style="border-radius: 5px;">
                        <h4>Tinhead</h4>
                        @*<p>Senior blog writer</p>*@
                        <p>这个人很懒，什么介绍也不写</p>
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        <div class="media post_item">
                            <img src="~/img/blog/popular-post/post1.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h3>Space The Final Frontier</h3></a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/img/blog/popular-post/post2.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h3>The Amazing Hubble</h3></a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/img/blog/popular-post/post3.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h3>Astronomy Or Astrology</h3></a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/img/blog/popular-post/post4.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h3>Asteroids telescope</h3></a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Catgories</h4>
                        <ul class="list cat-list">
                            @foreach (var showNoteClassifyInfo in ViewBag.ShowNoteClassifyInfo)
                            {
                                <li>
                                    <a class="d-flex justify-content-between" onclick="SearchNoteByClassifyId(@showNoteClassifyInfo.ClassifyId);">
                                        <p>@showNoteClassifyInfo.ClassifyName</p>
                                        <p>@showNoteClassifyInfo.NoteCount</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </aside>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    @foreach (var noteInfoItem in ViewBag.NoteInfo)
                    {
                        <article class="blog_style1">
                            <div class="blog_img">
                                <img class="img-fluid" src="@CommonUnit.GetBlogImageStr()" alt="">
                            </div>
                            <div class="blog_text">
                                <div class="blog_text_inner">
                                    <div class="cat">
                                        <a class="cat_btn" href="#">@CommonUnit.GetClassifyName(noteInfoItem.ClassifyId)</a>
                                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>@CommonUnit.FormatTime(noteInfoItem.CreateTime)</a>
                                        @*<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>*@
                                    </div>
                                    <a href="#"><h4>@noteInfoItem.Title</h4></a>
                                    <p>@noteInfoItem.Content</p>
                                    <a class="blog_btn" href="#">Read More</a>
                                </div>
                            </div>
                        </article>
                    }

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" onclick="ActionPage('first')">
                                    <span aria-hidden="true" style="position: relative;">
                                        <span class="lnr lnr-chevron-left" style="position: absolute; left: -5px; top: -1px;"></span>  &nbsp;&nbsp;
                                        <span class="lnr lnr-chevron-left" style="position: absolute; left: 5px; top: -1px;"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" onclick="ActionPage('last')">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>

                            @foreach (var pageStr in ViewBag.PageStrList)
                            {
                                if (pageStr.ToString() == ViewBag.PageIndex.ToString())
                                {
                                    <li class="page-item active">
                                        <a class="page-link" onclick="ActionPage('skip',@pageStr)">@pageStr</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" onclick="ActionPage('skip',@pageStr)">@pageStr</a>
                                    </li>
                                }
                            }


                            <li class="page-item">
                                <a class="page-link" aria-label="Next" onclick="ActionPage('next')">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" onclick="ActionPage('end')">
                                    <span aria-hidden="true" style="position: relative;">
                                        <span class="lnr lnr-chevron-right" style="position: absolute; left: -5px; top: -1px;"></span>  &nbsp;&nbsp;
                                        <span class="lnr lnr-chevron-right" style="position: absolute; left: 5px; top: -1px;"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="input-group" style="width: 80px; position: relative;">
                            <input type="text" id="inputGoToPage" class="form-control" placeholder="页数" oninput="value=value.replace(/[^\d]/g,'')" style="padding-right: 33px;">
                            <span class="input-group-btn" style="line-height: 42px; text-align: center; position: absolute; right: 5px; z-index: 20;">
                                <a onclick="goToPage()"><i class="lnr lnr-arrow-right"></i></a>
                            </span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var Type;
    var PageIndex;
    var ClassifyId;
    var SearchText;

    //history.pushState({}, '', '/' );

    function SetParameter(obj) {
        var type = obj.type;
        var pageIndex = obj.pageIndex;
        var classifyId = obj.classifyId;
        var searchText = obj.searchText;

        Type = type ? type : '';
        PageIndex = pageIndex ? pageIndex : 1;
        ClassifyId = classifyId ? classifyId : 0;
        SearchText = searchText ? searchText : '';
    }

    function Action() {
        location.href = '/' +
            '?type=' + (Type ? Type : '') +
            '&pageIndex=' + (PageIndex ? PageIndex : 1) +
            '&classifyId=' + (ClassifyId ? ClassifyId : 0) +
            '&searchText=' + (SearchText ? SearchText : '');
    }

    function ActionPage(type) {
        Type = type;
        Action();
    }

    function SkipPage(type, pageIndex) {
        Type = type;
        PageIndex = pageIndex;
        Action();
    }

    function goToPage() {
        var pageIndex = $("#inputGoToPage").val();
        PageIndex = pageIndex ? pageIndex : 1;
        Type = 'skip';
        Action();
    }

    function SearchNoteBySearchText() {
        var searchText = $("#searchText").val();
        SearchText = searchText ? searchText : '';
        Type = 'search';
        PageIndex = 1;
        Action();
    }

    function SearchNoteByClassifyId(classifyId) {
        ClassifyId = classifyId ? classifyId : 0;
        Type = 'className';
        PageIndex = 1;
        Action();
    }
</script>
<!--================Blog Area =================-->
@*<a asp-action="Index" asp-route-type="last">上一页</a> |
    <a asp-action="Index" asp-route-type="skip" asp-route-pageIndex="5">5</a> |
    <a asp-action="Index" asp-route-type="next">下一页</a> |*@

